:root {
  --primary-color: #eeeeee;
  --header-background-color: #9fc5e8;
  --span:  #8877dd;
  --link-color:   #0017ff;
  --visited:   #da0c55;
  --headings:  #cc0000;
  --body-background-color:  #dfdfdf;
}

primary {
  color: var(--primary-color);
}

span  {
  color:  var(--span);
}

a {
  color:  var(--link );
}

a:visited {
  color:  var(--visited);
}

a:hover, a:focus {
		/* No underlining when hovering over a link */
		text-decoration: none;
}

h1  {
  font-size: 40px;
  color:  var(--headings);
}

h2  {
  font-size: 30px;
  color:  var(--headings);
}


h3  {
  font-size: 24px;
  font-style: italic;
  color:  var(--headings);
}

body	{
  background-color:  var(--body-background-color);
  font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
  line-height: 1.6;
  }

.page-header  {
  display:  flex;
  padding: 0px;
  width: 100%;
  height: 150px;
  background-color: var(--header-background-color);
}

.page-header__logo {
    /* Currently is formating logo  */
  width:350px;
  height: 150px;
}

.main-navigation page-header__item  {
  /* nothing currently assigned to this class replace with sidnav */
}

.sidenav  {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px
}

.navigation-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 18px;
  text-align: right;
}
.navigation-list li {
  display: inline-block;
  }

footer {
	font-size: 20px;
	line-height: 0.2;
}

button,
.button {
  /* overwrites browser defaults, resets the border and sets styles for the type="button" and class="button"*/
  font-family: inherit;
  background-color: #ffd24b;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px
  }

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 20%;
}

.casual__portrait {
  float: left;
  margin-right: 40px;
  border-radius: 20%;
}

.Steamboat__photo  {
  padding: 20px;
  border-radius: 25%;
}

.center-photo {
  display: flex;
  justify-content: center;
}

.linkedin-link  {
  display: flex;
  justify-content: center;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
	margin-top: 20px;
}

form {
	display: flex;
	flex-direction: column;
	height: 400px;
	max-width: 350px;
	align-items: center;
	border-radius: 7px;
	margin-left: auto;
	margin-right: auto;
}

.form-text {
	color: black;
	padding: 12px 16px;
	font-weight: bold;
}

.message-box {
	height: 200px;
	width: 250px;
}

#message {
	background-color: #ffd24b;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin:0;
	padding: 12px 16px;;
	cursor: pointer;
	margin-top: 35px;
	color: black;
	font-weight: bold;
	transition: .5s;
}

.table  {
  display: flex;
  justify-content: center;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.project-grid__item {
  background-color: #cfe2f3;
  text-align: center;
}

.Scenic__photo  {
  border-radius: 25%;
}

.about  {
  margin: auto;
  width: 800px;
  text-align: left;
}
.svg-center {
  display: flex;
  justify-content: center;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

  @keyframes color-change {
    0% {
      fill: #ffffff;
    }
    50% {
      fill: #ffff44;
    }
    100% {
      fill: #f6b618;
    }
  }

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
